<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="pathAnimations" value="..\..\Animations\" />
    <add key="pathFonts" value="..\..\Fonts\" />
    <add key="pathImages" value="..\..\Images\" />
    <add key="pathLanguajes" value="..\..\Languajes\" />
    <add key="pathLevels" value="..\..\Levels\" />
    <add key="pathMapEditor" value="..\..\..\MapEditor\bin\Debug\MapEditor.exe" />
    <add key="pathSounds" value="..\..\Sounds\" />
    <add key="levels" value="10" />
    <add key="mode" value="Normal" />
    <add key="fps" value="33" />
    <add key="languaje" value="English" />
    <add key="lives" value="3" />
    <add key="music" value="ON" />
    <add key="input" value="Keyboard" />
  </appSettings>
</configuration>